// Start of Qatar

.qatar {
  background: linear-gradient(90deg,white 25%, #8D1B3D 25%);
  position: relative;
}

.qatar:before {
  @include shape;
  width: 20px;
  height: 100%;
  background:
  linear-gradient(160deg, white 30%, transparent 12%) 0 7px,
  linear-gradient(20deg, white 30%, transparent 12%) 0 7px;
  background-size: 20px calc(120px / 9.1);
  left: 44px;
  top: 0;
}

// End of Qatar