// Start of Ukraine

.ukraine {
  background:
  linear-gradient(to bottom, #005BBB 50%, #FFD500 50%);
}

// End of Ukraine

// Start of UAE

.uae {
  background:
  linear-gradient(to right, #FF0000 30%, transparent 0),
  linear-gradient(to bottom, #00732F calc(100% / 3), white calc(100% / 3), white calc(100% / 3 * 2), black calc(100% / 3 * 2));
}

// End of UAE

// Start of UK

.the-united-kingdom {
  background:
  #00247D;
  background-size: 100px 100px;
  position: relative;
}

.the-united-kingdom:before {
  @include shape;
  top: 0;
  left: 0;
  background:
  linear-gradient(to bottom, transparent 40%, #CC142B 40%, #CC142B 60%, transparent 60% ),
  linear-gradient(to right, transparent 45%, #CC142B 45%, #CC142B 55%, transparent 55% ),
  linear-gradient(to bottom, transparent 35%, white 35%,white 65%, transparent 65%),
  linear-gradient(to right, transparent 40%, white 40%,white 60%, transparent 60%),
  linear-gradient(146deg, transparent 50%, #CC142B 50%, #CC142B 53%, transparent 53%) -65px 45px,
  linear-gradient(146deg, transparent 50%, #CC142B 50%, #CC142B 53%, transparent 53%) 55px -45px,
  linear-gradient(34deg, transparent 50%, #CC142B 50%, #CC142B 53%, transparent 53%) -75px -43px,
  linear-gradient(34deg, transparent 50%, #CC142B 50%, #CC142B 53%, transparent 53%) 70px 46px,
  linear-gradient(146deg, transparent 45%, white 45%, white 55%, transparent 55%),
  linear-gradient(34deg, transparent 45%, white 45%, white 55%, transparent 55%);
  width: 180px;
  height: 120px;
  background-repeat: no-repeat;
}

// End of United Kingdom